$sidebarClosedWidth: 3.5em;
$sidebarFullWidth: 20em;
$sidebard-preview-shadow: 2px 2px 2px 0 $black1;

$devColor: $blue;
$prodcloneColor: $magenta;
$prodColor: black;

$sidebarBgColor: darken($canvas-background, 10%);

$hoverColor: lighten($yellow, 10%);

$primaryColor: $white1;
$secondaryColor: $grey2;

$sectionSpace: 20px;
$hSpace: 5px;
$icSize: 16px;

#sidebar-left {
  width: max-content;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}

.viewing-table {
  background-color: $sidebarBgColor;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;

  &.detailed {
    width: $sidebarFullWidth;
    overflow-y: scroll;
  }

  &.abridged {
    width: $sidebarClosedWidth;
    &::-webkit-scrollbar {
      width: 0px; // Remove scrollbar space
    }
  }
}

// table wrapper
.toggle-btn {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  color: $secondaryColor;
  cursor: pointer;
  margin-right: 0.25em;

  .label {
    margin-right: 5px;
  }

  .icon {
    .fa {
      font-size: 1.0em;
      &:nth-child(2) {
        margin-left: -5px;
      }
    }
  }

  @at-root .detailed > & {
    padding-right: 5px;
    transition: padding-right 0.15s;

    &:hover {
      color: $primaryColor;
      padding-right: 8px;
      
      animation-name: bounceLeft;
      animation-duration: 0.3s;
      animation-delay: 0.15s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  @at-root .abridged > & {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    transition: padding-left 0.1s;

    &:hover {
      padding-left: 4px;

      animation-name: bounceRight;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }

    .icon .fa {
      font-size: 0.8em;
    }

    .label {
      display: none;
    }
  }
}

// Category blocks
.sidebar-section {
  margin-bottom: $sectionSpace;
  padding: 0 $hSpace;
  position: relative;

  &.fof, &.deleted {
    margin-left: -1 * $icSize;
  }

  &.empty summary::-webkit-details-marker {
    display: none;
  }
}

// Category titles
.section-summary {
  outline: none;
  display:flex;

  @at-root .detailed & {
    justify-content: flex-end;
    align-items: center;

    &::-webkit-details-marker {
      color: $secondaryColor;
      &:hover {
        color: $hoverColor;
      }
    }
  }

  @at-root .abridged & {
    justify-content: flex-start;
    align-items: flex-end;

    &::-webkit-details-marker {
      display: none;
    }
  }

  div {
    display: inline-block;
  }

  .category-header {
    width: calc(100% - #{2 * $icSize});

    @at-root .abridged & {
      width: 80%;
      text-align: center;
    }
  }

  .category-icon {
    @at-root .detailed & {
      margin-right: $hSpace;
      color: $primaryColor;
    }

    @at-root .abridged & {
      margin-right: 0;
      font-size: 1.2em;
      color: darken($primaryColor, 30%);
      transition: 0.2s font-size;

      &:hover{
        font-size: 2.0em;
      }
    }
  }

  .category-name {
    color: $grey3;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin-top: 0;

    @at-root .abridged & {
      display: none;
    }
  }

  a.button-link { // (+) icon for section
    font-size: 1.2em;
    &:hover {
      color: $hoverColor;
    }

    @at-root .abridged & {
      font-size: 0.8em;
    }
  }
}

// Wrapper for categories' content
.section-content {
  @at-root .detailed & .category-name {
    display: none;
  }

  @at-root .abridged & {
    background-color: $sidebarBgColor;
    width: 300px;
    max-height: 400px;
    padding: 10px;
    margin-top: 10px;

    overflow-y: scroll;
    box-shadow: $sidebard-preview-shadow;

    z-index: 1;
    position: absolute;
    left: $sidebarClosedWidth;
    top: -1.25em;

    .category-name {
      width: 100%;
      text-align: center;
      display: block;
    }

    .category-icon {
      display: none;
    }
  }

}

// Toplevel items
.simple-item {
  div {
    display: inline-block;
  }

  .icon-spacer {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  .toplevel-name {
    width: calc(100% - 32px);
    display: inline-block;

    a.toplevel-link {
      display:flex;
      justify-content: space-between;
      color: $primaryColor;
      text-decoration: none;
      outline: none;

      .path::before {
        @include font-awesome("\f111");
        color: transparent;
        font-size: 0.5em;
        width: 20px;
        vertical-align: middle;
        display: inline-block;
        text-align: center
      }

      &:hover .path::before {
        color: $hoverColor;
        font-weight: 500;
      }

      &.selected .path::before {
        color: $hoverColor;
      }

      .verb {
        color: $secondaryColor;

        &.GET {
          color: $http-get;
        }
        &.POST {
          color: $http-post;
        }
        &.DELETE {
          color: $http-delete;
        }
        &.PUT {
          color: $http-put;
        }
        &.PATCH {
          color: $http-patch;
        }
      }
    }
  }
}